<footer>
    <div class="left">
        Copyright &copy; 2014 by <a href="#">BaghChal</a>
    </div>
    <div class="right">
        <a href="http://www.htwg-konstanz.de">HTWG Konstanz</a>
    </div>
    <div class="clear"> </div>
</footer>