<div class="cleft" id="menu">
    <img id="turnGoat" class="arrow" src="@routes.Assets.at("images/arrowTiger.png")"/>
    <h1>Goat</h1>
    <table id="goats">
    </table>
</div>

<div id="game" class="cmiddle">
    <table>
        @for(i <- 0 to 4) {
        <tr>
            <td><div class="cell" id="cell_@(i)0" data-field='{"row":"@(i)","column":"0"}'></div></td>
            <td><div class="cell" id="cell_@(i)1" data-field='{"row":"@(i)","column":"1"}'></div></td>
            <td><div class="cell" id="cell_@(i)2" data-field='{"row":"@(i)","column":"2"}'></div></td>
            <td><div class="cell" id="cell_@(i)3" data-field='{"row":"@(i)","column":"3"}'></div></td>
            <td><div class="cell" id="cell_@(i)4" data-field='{"row":"@(i)","column":"4"}'></div></td>
        </tr>
        }
    </table>
</div>

<div class="cright">
    <img id="turnTiger" class="arrow" src="@routes.Assets.at("images/arrowTiger.png")" style="display:none;"/>
    <h1>Tiger</h1>
    <table id="tiger">
        @for(i <- 0 to 4) {
            <tr>
                <td><div class="field" id="tiger_@(i)"></div></td>
            </tr>
        }
    </table>
</div>

