<div id="toolbar">

    <ul>
        <li class="new" name="New" id="new" title="New"></li>
        <li class="help" name="Help" id="help" title="Help">&nbsp;</li>
        <li class="info" name="Info" id="info" title="Info">&nbsp;</li>
    </ul>

</div>

<a class="fancybox" href="#helpPanel" id="help_link" style="display:none"></a>
<a class="fancybox" href="#infoPanel" id="info_link" style="display:none"></a>

<div id="helpPanel" class="panel" style="display:none; width:600px">
    <h1>Rules</h1>
    <h2>Board and Avatars</h2>
    <p>The board has 25 fields, which are ordered in a square and connected by lines.<br />
        The avatars may only be moved to those fields.<br/>
        The lines represent paths on which the avatars may move from field to field.<br/>
        <b>Player 1</b> starts with four tigers, <b>Player 2</b> with 20 goats.</p>

    <h2>Course of the Game</h2>
    <h3>First Phase</h3>
    <p>At the beginning of the game, the four tigers are placed in each corner of the board.<br/>
        <b>Player 2</b> starts the game by placing a goat on an unoccupied field.<br/>
        Now <b1>Player 1</b> must move one of his tigers. One may only move between fields which<br/>are connected by lines.<br/>
            Now new goats are set and tigers are moved alternately, until all goats have been<br/>placed on the board.<br/>
            In this phase a tiger may already eat a goat. This happens, when a tiger is directly in<br/>front of a goat and jumps over it to an unoccupied field. The jump has to be in a<br/>straight line (not around a corner) and along the paths layed out on the board.<br/>
            If a tiger eats a goat, the goat is removed from the board.</p>

    <h3>Second Phase</h3>
    <p>When all goats have been placed on the board, the second phase begins. Now the<br/>goats may move across the board, too. They may only move along the paths layed out<br/>on the board. Goats cannot jump.<br/>
        Both players <b>have</b> to move when it's their turn.</p>

    <h3>Objective of the Game</h3>
    <p>The tigers win, when five goats have been eaten. The goats can only win, if the tigers<br/>are blocked and cannot move anymore. A goat can be protected from being eaten by<br/>tigers by placing another goat directly behind it.
        If it's the goats turn and they cannot<br/>move, the game ends in a tie.</p>
</div>

<div id="infoPanel" class="panel" style="display:none; width:600px">
    <h1>Usage</h1>
    <h2>New Game</h2>
    To start a new Game click on <b>New</b>.

    <h2>Save Game</h2>
    To save a game, click on <b>Save</b>.<br />
    You will then be prompted to specify the location for your file.

    <h2>Load Game</h2>
    You can load a saved game by clicking on <b>Load</b>.<br />
    You will then be prompted to specify the location of the file where you saved the game.

    <h2>Move Avatar</h2>
    You can move an avatar as follows:
    <ol>
        <li>Drag and drop the avatar you wish to move</li>
    </ol>
</div>