<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.10.3.custom.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/game.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/websocket.js")"></script>