* {
    margin: 0;
    padding: 0;
}

body, html {
  height: 100%;
}

body {
  background: none repeat scroll 0 0 #F8F8FF;
  color: #2a3a48;
  margin: 0;
  padding: 0;
  font: 13px "Lucida Grande", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialised;
  -webkit-user-select: none;
  cursor: default;
  margin-left:0; margin-right:auto;
  min-width:800px;
}

#wrapper{
    position:relative;
    min-height:100%;
    height:auto !important;
    height:100%;
    margin:0 auto;
}

header {
  box-sizing: border-box;
  padding: 3px 10px 10px 10px;
  position:relative;
  margin-bottom:10px;
  z-index: 9;
  background: #8fb1cc;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8fb1cc), to(#2a3a48));
  background-image: -moz-linear-gradient(top, #8fb1cc, #2a3a48);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.8);
}

header #left{
	display:inline;
	float:left;
    background-image:url("../images/Logo-medium.png");
    background-repeat:no-repeat;
    height:70px;
    margin-left: 70px;
}

header #right{
	right: 10px;
	font-size: 30px;
	text-align:right;
}

header #right span{
	color: #F8F8FF;
	margin-left: 30px;
}

header #right span.username{
	color: #FFEFD5;
	font-weight: bold;
}

#logo {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-shadow: 1px 1px 0 #000;
  padding-left: 80px;
  height:150px;
}
#logo span {
  color: #73BBC9;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 64px;
    background: #4D606E;
    color: #fff;
    width: 100%;
}

footer a { color: #fff; text-decoration: none; }
footer a:hover { border-bottom: 1px dotted #ccc; color: #a9a9a9; }

.left { float: left; padding: 20px;}
.right { float: right; padding: 20px;}
.clear { clear: both; }

#contentwrap {
    width: 800px;
    margin-top: 30px;
    margin-left: 100px;
    text-align: left;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px 7px 0px 0px;
    left: 0px;
    background: #fff;
    position: relative;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.spacer{
    height:100px;
    position:relative;
    display:block;
    clear:both;
}

.cleft {
    float: left;
    padding: 10px 0 20px 40px;
    width: 160px;
}

.cleft h1 {
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    padding: 0px 10px 8px 0px;
}

.avatar{
    width: 41px;
    height: 41px;
    padding:2px 5px 2px 5px;
    background-image: url("../images/spielfigur_ziege.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

#tiger .avatar{
    cursor: default;
}

.cmiddle{
    float: left;
    margin-top: 60px;
    padding: 0px 0 20px 0px;
    width: 440px;
    height: 460px;
    background-image: url("../images/Spielfeld.png");
    background-repeat: no-repeat;
}

.cmiddle table:first-child{
    padding-top:0px;
}

.cmiddle td{
    padding:25px 20px 20px 25px;
}

.cmiddle tr:first-child td{
    padding-top:14px;
}

.cmiddle td:first-child{
    padding-left:14px;
}

.cmiddle .cell{
    width: 42px;
    height: 42px;
}

.ui-state-highlight{
    background-color: #222222;
}

.cright {
    float: right;
    width: 130px;
    padding: 10px 0 20px 0px;
}

.cright h1 {
    font-size: 16px;
    font-weight: bold;
    margin-left: 35px;
    padding: 0px 10px 8px 0px;
}

.cright table{
    margin-left: 32px;
}

.cright .field{
    background-color: #cccccc;
    width:41px;
    height:41px;
    margin:5px 0 5px 0;
}

.cleft img.arrow,
.cright img.arrow{
    width: 20px;
    height: 20px;
    float: left;
    padding: 0;
}

.status {
    width: 790px;
    height: 18px;
    font-size: 12px;
    border-top:1px solid #000;
    padding: 5px;
}

#toolbar ul { margin: 5px 0 0 10px; padding: 0; list-style-type: none; }
#toolbar ul li {
    margin: 5px 10px 0 5px;
    color: #fff;
    display:inline;
    padding-bottom: 12px;
    padding-left:21px;
}

#toolbar {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px 7px 0px 0px;
    font-size: 12px;
    display: block;
    text-decoration: none;
    color: #fff;
    background: #F0F8FF;
    padding: 3px 10px;
    color: #fff;
    height: 40px;
    border-bottom:1px solid #000;
}

#toolbar .new{
    background-image: url("../images/Logo_klein.png");
    background-repeat: no-repeat;
}

#toolbar .save{
    background-image: url("../images/Save-icon.png");
    background-repeat: no-repeat;
}

#toolbar .load{
    background-image: url("../images/Open-icon.png");
    background-repeat: no-repeat;
}

#toolbar .help{
    background-image: url("../images/Help-icon.png");
    background-repeat: no-repeat;
}

#toolbar .info{
    background-image: url("../images/Information-icon.png");
    background-repeat: no-repeat;
}

#toolbar li:hover{
    cursor:pointer;
    -khtml-opacity:.50;
    -moz-opacity:.50;
    -ms-filter:"alpha(opacity=50)";
    filter:alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity:.50;
}

.panel h1{
    font-size: 18px;
    font-weight: bold;
    margin:10px 0px 10px 0px;
}

.panel h2{
    font-size: 16px;
    font-weight: bold;
    margin:12px 0px 8px 0px;
}

.panel h3{
    font-size: 14px;
    font-weight: bold;
    margin:12px 0px 8px 0px;
}

.panel p{
    margin:5px 0px 5px 0px;
}