@(title: String, id: String)(implicit request: RequestHeader)

@import header._
@import includes._

@main(title) {

  <div id="wrapper">
      <header>
          <div id="left">
            <a href="@routes.Application.index" id="logo"><span>BaghChal</span></a>
          </div>
          <div id="right">&nbsp;
          </div>
      </header>

      <div id="contentwrap" class="clearfix">
            @includes.toolbar()
            @includes.game()
            <div class="clear"> </div>
            <div class="status" id="status"></div>
            <div class="clear"></div>
      </div>
      <div class="spacer"></div>

      @includes.footer()

      <script type="text/javascript">
        jQuery(document).ready(function($){
          var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
          window.webSocket = new WS("@routes.Application.webSocket(id).webSocketURL()");
          BG.htwg.websocket = new BG.htwg.Websocket($);
          BG.htwg.websocket._websocket = window.webSocket;
          BG.htwg.websocket._websocket.onopen = BG.htwg.websocket.openEvent
          BG.htwg.websocket._websocket.onmessage = BG.htwg.websocket.receiveEvent;

          BG.htwg.game = new BG.htwg.Game($);
        });
      </script>

  </div>
}
